.loader {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(270deg, #c58544, #c58544, #8b6c4d, #8b6c4d, #af5d1d, #af5d1d, #8b6c4d, #8b6c4d, #c58544, #c58544);
  background-size: 800% 200%;
  animation: gradientWave 6s linear infinite;
}

@keyframes gradientWave {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}